@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');
#main {
    font-family: "Lucida Console", Courier, monospace;
    background-color: #e6f2ff;
    padding: 25px;
    font-size: 120%;
}
#heading{
  display: block;
  background-color: orange;
  padding: 30px;
  margin: auto;
}

nav{

  border-style: solid;
  border-color: white;
  background-color: #00264d;
  width: 100%;

}
#sidebar{
  position: sticky;
  top: 0;
  left: 0;
  border-style: solid;
  background-color: #00264d;
  border-color: white;

}

img {
    float: none;
    width: 400px;
    height: auto;
}

h1 {
  font-family: 'Caveat';
  color: white;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 4px;

}

h2 {
  font-family: 'Caveat';
  color: #9dfcd3;
  text-transform: uppercase;
  text-align: left;
}

p, a, h3 {
  font-family: 'Courier';
  color: white;
  text-align: left;

}

a:hover {
    text-decoration: underline;
    text-decoration-style: dotted;
    text-align: center;

}
