#content {
    font-family: times, serif,  "times new roman";
    background-color: #e6f2ff;
    padding: 200px;
    font-size: 120%;
}

#image{
  border-radius: 50%;

  height: 50px;
  text-align: center;
  display: circle;
  margin-left: auto;
  margin-right: auto;

}
#challanges {
  padding: 30px;
  background-color: #00264d;
  width:650px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 200%;
  }

#problems {
  padding: 30px;
  background-color: #00264d;
  width:650px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 200%;
}

#results {
    padding: 30px;
    background-color: #00264d;
    width:650px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 200%;

}

h1 {
  font-family: "times new roman";
  color: #00264d;
  text-transform: uppercase;
  text-align: center;

}

h2, h3 {
    font-family: "times new roman";
    color: lightcyan;
    text-transform: uppercase;
    text-align: center;
}

p {
  color: white;
  text-align: center;
}
