body {
    font-family: times, serif,  "times new roman";
    background-color: #ffe6e6;
    padding: 25px;
    font-size: 120%;
}

img {
    float: center;
    width: 400px;
    height: auto;
    border-radius: 50%;
}

div#challanges {
    padding: 50px;
    background-color: lightsteelblue;
    border: solid 1px #333333;
    height: 20vh;
    width: auto
  }

div#problems {
    padding: 40px;
    background-color: lightsteelblue;
    border: solid 1px #333333;
    height: 20vh;
}

div#results {
    padding: 30px;
    background-color: lightsteelblue;
    border: solid 1px #333333;
    height: 20vh;
}

h1, h2, h3 {
    font-family: "Courier New", monospace;
    color: lightcyan;
    text-transform: uppercase;
}


a {
    text-decoration: none;
    color: siennaqqq;
}
a:hover {
    text-decoration: underline;
    text-decoration-style: wavy;
}
