body {
    font-family: times, serif,  "times new roman";
    background-color: mistyrose;
    padding: 25px;
    font-size: 120%;
}

div#challanges {
    padding: 50px;
    background-color: lightsteelblue;
    border: solid 1px #333333;
    height: 80vh;
}

div#problems {
    padding: 50px;
    background-color: lightsteelblue;
    border: solid 1px #333333;
    height: 80vh;
}

div#results {
    padding: 50px;
    background-color: lightsteelblue;
    border: solid 1px #333333;
    height: 80vh;
}

h1, h2, h3 {
    font-family: "Courier New", monospace;
    color: blue;
    text-transform: uppercase;
}

img {
    float: right;
    width: 400px;
    height: auto;
    border-radius: 50%;
}

a {
    text-decoration: none;
    color: siennaqqq;
}
a:hover {
    text-decoration: underline;
    text-decoration-style: wavy;
}
