body {
    font-family: times, serif,  "times new roman";
    background-color: #e6f2ff;
    padding: 20px;
    font-size: 120%;
}
 div#image{
   transform: matrix();
   width: 700px;
   height: auto;
   text-align: center;
   display: block;
   margin-left: auto;
   margin-right: auto;
 }

div#challanges {
  padding: 30px;
  background-color: #00264d;
  border: none;
  color: #333333;
  width:650px;
  display: blpck;
  }

div#problems {
  padding: 30px;
  background-color: #00264d;
  border: none;
  color: #333333;
  width:650px;
  display: blpck;
}

div#results {
    padding: 30px;
    background-color: #00264d;
    border: none;
    color: #333333;
    width:650px;
    display: blpck;

}

h1,{
  font-family: "times new roman";
  color: #00264d;
  text-transform: uppercase;
  text-align: center;

}
h2, h3 {
    font-family: "times new roman";
    color: lightcyan;
    text-transform: uppercase;
}


a {
    text-decoration: none;
    color: white;
}
a:hover {
    text-decoration: underline;
    text-decoration-style: wavy;
    color: white;
}
