@import url('href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');
#main{
  font-family: 'Nanum Myeongjo', serif;
}
.column{
  flex: 33.33%
  padding: 5px;
}
.row {
  display: flex;
}
.column img{
  width: 100px;
  height: 500px;
}
#amy img{
  height: 500px;
  width: 450px;
}
#box{
  display: block;
  background-color: #fae5eb;
  height: 500px;
  width: 350px;
}
h1{
  font-family: 'Nanum Myeongjo';
  color: white;
  letter-spacing: 4px;
  position: absolute;
  left: 270px;
  top: 140px;
  font-size: 110px;


}
