.column{
  flex: 33.33%
  padding: 5px;
}
.row {
  display: flex;
}
.column img{
  width: 100px;
  height: 500px;
}
#amy img{
  height: 500px;
  width: 450px;
}
#box{
  display: block;
  background-color: #fae5eb;
  height: 500px;
  width: 350px;
}
