@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');
#content {
    font-family: "Lucida Console", Courier, monospace;
    font-size: 120%;

}
#heading{
  position: absolute;
  top: -13px;
  left: 600px;
  font-size: 15px;
  text-shadow: 0 0 3px grey;
}
html{
  background: url(colors.png)no-repeat center fixed;
  background-size: cover;
}
#lunaintro{
  position: absolute;
  top: 630px;
  left: 840px;
  font-size: 20px;
}
nav{
  position: absolute;
  top: 60px;
  left: 0px;
  height: 25px;
  width:1525px;
  padding: 10px;
  border-style: solid;
  border-color: white;
  background-color: #00264d;

}

#me img {
  position: absolute;
  left: 50px;
  top: 155px;
  filter: blur(1.5px);
  width: 230px;
  height: 300px;
  object-fit: cover;
  border-color: white;
   filter: grayscale(30%);
}
.box img{
  position: relative;

  height: auto;
  transition: all 1.5s;
  padding:20px;
  border-style: dotted;
  border-width: 14px;

}
.box img:hover {
  background-color: orange;
}
h1 {
  font-family: 'Caveat';
  color: black;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: center;
}
p {
  font-family: 'Caveat';
  color: black;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: left;
}
h3{
  font-family: 'Caveat';
  color: white;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: center;
}
h2, a{
  font-family: 'Caveat';
  color: #ea6455;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: left;
}



a:hover {
    text-decoration: underline;
    text-decoration-style: dotted;
}

  #challanges{
    padding: 10px;
    position: absolute;
    left: 25%;
    top:200px;
    border-radius: 0 25px;
    display: block;
    background-color: #cae8db;
    border:2px solid white;
    width: 650px;
    height: 180px;
    box-shadow:  3px 3px 8px black;
    transform: rotate(1deg);
  }
  #problems{
    padding: 10px;
    position: absolute;
    left: 25%;
    top: 445px;
    border-radius: 0 25px;
    display: block;
    background-color: #cae8db;
    border:2px solid white;
    width: 650px;
    height: 180px;
    box-shadow:  3px 3px 8px black;
    transform: rotate(-1deg);
    }
  #results{
    padding: 10px;
    position: absolute;
    left: 25%;
    top: 690px;
    border-radius: 0 25px;
    display: block;
    background-color: #cae8db;
    border:2px solid white;
    width: 650px;
    height: 180px;
    box-shadow:  3px 3px 8px black;
    transform: rotate(1.5deg);
  }
