@import url('href="https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');
#main{
  font-family: 'Nanum Myeongjo', serif;
}
.column{
  flex: 33.33%
  padding: 5px;
}
.row {
  display: flex;
}
.column img{
  width: 100px;
  height: 500px;
}
#amy img{
  height: 500px;
  width: 450px;
}
#box{
  display: block;
  background-color: #fae5eb;
  height: 500px;
  width: 350px;
}
h1{
  font-family: 'Nanum Myeongjo';
  color: white;
  letter-spacing: 4px;
  position: absolute;
  left: 270px;
  top: 140px;
  font-size: 110px;
}
h2{
  font-family: 'Nanum Myeongjo';
  color: white;
  letter-spacing: 4px;
  position: absolute;
  left: 0;
  top: 170px;
  font-size: 90px;
}
#text{
  position: absolute;
  left: 150px;
  top: 350px;
  line-height: 20px;
  color: black;
  font-size: 12px;
}
#scroll{
  position: absolute;
  left: 510px;
  top: 420px;
  line-height: 20px;
  color: white;
  font-size: 12px;
}
#number{
  position: absolute;
  left: 150px;
  top: 150px;
  line-height: 20px;
  color: black;
  font-size: 18px;
  font-weight: bold;
}
#about{
  position: absolute;
  left: 830px;
  top: 30px;
  line-height: 20px;
  color: white;
  font-size: 12px;
}
#project{
  position: absolute;
  left: 5px;
  top: 50px;
  line-height: 20px;
  color: white;
  font-size: 18px;
  word-spacing: 20px;
}
