@import url('href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&display=swap');
#main{
  font-family: 'Nunito Sans', sans-serif;
}
#content{
  display: block;
  width: 110%;
  height: 460px;
  display: grid;
  background-color:#C1C2BB;

}
#fire img{
  position: absolute;
  left: 0;
  width: 50%;
  height: auto;
}
.blocks{
  flex: 33.33%
  padding: 5px;
  width: 100px;
  height: 500px;
}


#logo img{
  position: absolute;
  left: 90px;
  top: 30px;
  width: 550px;
}
#objects{
  position: absolute;
  left: 800px;
  top: 20px;
}

.container img{
  position: absolute;
  left: 870px;
  top: 270px;
  width: 300px;
}
#bottomrightblock{
  border-style: none;
  background-color: #DADADA;
  border-width: 10px;
  width: 350%;
  height: 300px;
  position: inherit;
  top: 20;
  left:0;
}
#text{
  position: absolute;
  left: 1020px;
  top: 170px;
  line-height: 20px;
  font-size: 12px;
}
#text2{
  position: absolute;
  left: 900px;
  top: 450px;
  line-height: 20px;
  font-size: 12px;
  text-align: right;
}
#b{
  position: absolute;
  left: 1115px;
  top: 80px;
  line-height: 20px;
  color: white;
  font-size: 150px;
}
#a{
  position: absolute;
  left: 850px;
  top: 80px;
  line-height: 20px;
  color: white;
  font-size: 150px;
}
#m{
  position: absolute;
  left: 1115px;
  top: 80px;
  line-height: 20px;
  color: white;
  font-size: 150px;
}
p {
  font-family: 'Nunito Sans', sans-serif;
  color: white;
  text-align: right;
