@import url('href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&display=swap');
#main{
  font-family: 'Nunito Sans', sans-serif;
}
#content{
  display: block;
  width: 110%;
  height: 460px;
  display: grid;
  background-color:#C1C2BB;

}
#left img{
  position: absolute;
  left: 0;
  width: 50%;
  height: 600px;


}
.blocks{
  flex: 33.33%
  padding: 5px;
  width: 100px;
  height: 500px;
}


#logo img{
  position: absolute;
  left: 90px;
  top: 30px;
  width: 900px;
}

.container img{
  position: absolute;
  left: 1150px;
  top: 250px;
  width: 600px;
}
#bottomrightblock{
  border-style: none;
  background-color: #DADADA;
  border-width: 10px;
  width: 350%;
  height: 300px;
  position: inherit;
  top: 20;
  left:0;
}
#text{
  position: absolute;
  left: 1550px;
  top: 110px;
  line-height: 20px;
  font-size: 18px;
}
#text2{
  position: absolute;
  left: 1350px;
  top: 550px;
  line-height: 20px;
  font-size: 12px;
  text-align: right;
}
#b{
  position: absolute;
  left: 1650px;
  top: 0px;
  line-height: 20px;
  color: white;
  font-size: 300px;
}
#a{
  position: absolute;
  left: 1270px;
  top: 90px;
  line-height: 20px;
  color: white;
  font-size: 300px;
}
#m{
  position: absolute;
  left: 240px;
  top: 0px;
  line-height: 20px;
  color: white;
  font-size: 300px;
}
p {
  font-family: 'Nunito Sans', sans-serif;
  color: white;
  text-align: right;
