@import url('href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&display=swap');
#main{
  font-family: 'Nunito Sans', sans-serif;
}
#content{
  display: block;
  width: 110%;
  height: 460px;
  display: grid;
  background-color:#C1C2BB;

}
#fire img{
  text-align: left;
  width: 50%;
  height: auto;
}
.blocks{
  flex: 33.33%
  padding: 5px;
  width: 100px;
  height: 500px;
}


#logo img{
  position: absolute;
  left: 90px;
  top: 30px;
  width: 550px;
}
#house{
  position: absolute;
  left: 400px;
  top: 30px;
  width: 550px;
}
#bag{
  position: absolute;
  left: 90px;
  top: 30px;
  width: 550px;
}
#lilfire{
  position: absolute;
  left: 1115px;
  top: 80px;
  line-height: 20px;
  color: white;
  font-size: 150px;
}

.container img{
  position: absolute;
  left: 870px;
  top: 270px;
  width: 300px;
}
#bottomrightblock{
  background-color: #DADADA;
  width: 600px;
  height: 260px;
  display: block;
  position: absolute;
  right: 0px;
  top: 98px;
  bottom: 800px;
}
#text{
  position: absolute;
  left: 1020px;
  top: 170px;
  line-height: 20px;
  font-size: 12px;
}
#text2{
  position: absolute;
  left: 900px;
  top: 450px;
  line-height: 20px;
  font-size: 12px;
  text-align: right;
}
#b{
  position: absolute;
  left: 1115px;
  top: 80px;
  line-height: 20px;
  color: white;
  font-size: 150px;
}
p {
  font-family: 'Nunito Sans', sans-serif;
  color: white;
  text-align: right;
