@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');
#main {
    font-family: "Lucida Console", Courier, monospace;
    background-color: #e6f2ff;
    padding: 25px;
    font-size: 120%;
}
#content{
  display: block;
  background-color: #e6f2ff;
  padding: 30px;
  border: 10px dotted #00264d;

}
#heading{
  display: block;
  background-color: #d2eefa;
  padding: 30px;
  margin: auto;
}

nav{
  display: block;
  padding: 10px;
  border-style: solid;
  border-color: white;
  background-color: #00264d;
  width: 99%;
}
.img-me{
  border-radius: 60%;
}
#sidebar{
  border-style: solid;
  background-color: #00264d;
  border-width: 10px;
  border-color: white;
  width: 33%;
  }

#floated{
  float: right;
  content: both;
}

#center-horz{
  text-align: center;
  display: block;
  background-color: #00264d;
  padding: 30px;
}
#center-img {
  text-align: center;

}
#center-both{
  position: relative;
}
#center-both img{
  left: 0;
  border-radius: 60%;
  background-color: #00264d;
  text-align: center;
}
#about-me{

  padding: 30px;
  background-color: #00264d;
  width:450px;
  margin-left: auto;
  text-align: center;
  }

#challanges, #problems, #results {
  padding: 30px;
  background-color: #00264d;
  text-align: center;
  margin-left: auto;

  }

h1 {
  font-family: 'Caveat';
  color: #00264d;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: center;
}

h2 {
  font-family: 'Caveat';
  color: #9dfcd3;
  text-transform: uppercase;
}

p, a, h3 {
  border: 3px solid orange;
  font-family: 'Courier';
  color: white;

}

a:hover {
    text-decoration: underline;
    text-decoration-style: dotted;


}
