@import url('href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@600&display=swap');
#main{
  font-family: 'Nunito Sans', sans-serif;
}
#content{
  display: block;
  width: 110%;
  height: 660px;
  display: grid;
  background-color:#C1C2BB;

}
#left img{
  position: absolute;
  left: 0;
  width: 50%;
  height: 600px;


}
#one img{
  position: absolute;
  width: 350px;
  left: 1300px;
  top:350px;
}
#two img{
  position: absolute;
  width: 650px;
  left:1100px;
  top:430px;
}
#three img{
  position: absolute;
  width: 350px;
  left:1400px;
  top:600px;
}
.blocks{
  flex: 33.33%
  padding: 5px;
  width: 100px;
  height: 500px;
}


#logo img{
  position: absolute;
  left: 90px;
  top: 30px;
  width: 900px;
}

.container img{
  position: absolute;
  left: 1150px;
  top: 250px;
  width: 600px;
}
#bottomrightblock{
  position: absolute;
  background-color: #d8d8da;
  width: 1530px;
  height:575px;
  top: 655px;
  right:318px;
  z-index: -110:
}
#request p{
  padding: 20px;
  background-color: black;
  color: orange;
  position: absolute;
  left: 1500px;
  top: -10px;
  line-height: 20px;
  font-size: 18px;
}
#text{
  position: absolute;
  left: 1500px;
  top: 110px;
  line-height: 20px;
  font-size: 18px;
}
#text2{
  position: absolute;
  left: 1100px;
  top: 750px;
  line-height: 30px;
  font-size: 25px;
  text-align: right;
}
#b{
  position: absolute;
  left: 1650px;
  top: -90px;
  line-height: 20px;
  color: white;
  font-size: 300px;
}
#a{
  position: absolute;
  left: 1100px;
  top: -90px;
  line-height: 20px;
  color: white;
  font-size: 300px;
}
#m{
  position: absolute;
  left: 240px;
  top: -90px;
  line-height: 20px;
  color: white;
  font-size: 300px;
}
p {
  font-family: 'Nunito Sans', sans-serif;
  color: white;
  text-align: right;
